<!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">

    </div>
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <h1>Les modèles</h1>
                <% modeles.forEach(modele => {%>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-car fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h4 class="mb-3"><%= modele.nom %></h4>
                            <p class="descri"><%= modele.Description  %></p>
                            <a class="text-secondary border-bottom" href="modele/<%=modele.id%>">Voir plus</a>         
                        </div>
                    </div>
                </div>
                <%}); %>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
